# Python cache files

__pycache__/
*.pyc
*.pyo

# Generated data, logs, and summaries

results/

# Generated plot images & tables

analysis/figures
analysis/tables

# Archived result files

archives/

# Master log file

master_run.log

# FIO test file (if it gets created in the root)

fio_test_file.dat

# OS-specific files

.DS_Store

# Editor swap files

*.swp
*.swo

# Model files

model_repository/

# Serving files

trt_engine_bs256/